{% extends 'base.html' %}

{% block header %}
  <h1><i class="fa fa-tools"></i> {% block title %}Display Controls{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="w3-bar w3-white" style="width: 50%;">
    <button class="w3-button"><i class="fa fa-pause fa-lg w3-text-blue"></i></button>
    <button class="w3-button"><i class="fa fa-play fa-lg w3-text-green"></i></button>
    <button class="w3-button"><i class="fa fa-step-forward fa-lg w3-text-black"></i></button>
  </div>
{% endblock %}