{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Schedules{% endblock %}</h1>
  {% if g.user %}
    <a class="w3-button" href="{{ url_for('config.create_schedule') }}"><i class="fa fa-plus fa-lg"></i></a>
  {% endif %}
{% endblock %}

{% block content %}
  <table class="w3-table w3-striped" style="width:50%">
    <tr>
      <th>Time Window</th>
      <th>Display State</th>
      <th class="w3-center">Delete Schedule</th>
    </tr>
  {% for schedule in schedules %}
    <tr>
      <td>{{ days[schedule["start_day"]] }} {{ schedule['start_time'].strftime("%I:%M %p") }} to {% if schedule["start_day"] != schedule["end_day"] %}{{ days[schedule["end_day"]] }}{% endif %} {{ schedule['end_time'].strftime("%I:%M %p") }}</td>
      <td>{{ "On" if schedule['enabled'] else "Off" }}</td>
      <td class="w3-center"><a class="w3-button" href="{{ url_for('config.delete_schedule', id=schedule['id']) }}"><i class="fa fa-trash"></i></a></td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}

