{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Schedules{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('config.create_schedule') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <table class="w3-table w3-striped" style="width:50%">
    <tr>
      <th>Time Window</th>
      <th>Display State</th>
      <th class="w3-center">Delete Schedule</th>
    </tr>
  {% for schedule in schedules %}
    <tr>
      <td>{{ format_12hr(schedule['start_time']) }} to {{ format_12hr(schedule['end_time']) }}</td>
      <td>{{ "On" if schedule['enabled'] else "Off" }}</td>
      <td class="w3-center"><a class="w3-button" href="{{ url_for('config.delete_schedule', id=schedule['id']) }}"><i class="fa fa-trash"></i></a></td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}

