{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Scheduler{% endblock %}</h1>
  <a class="action" href="{{ url_for('index') }}">Back</a>
{% endblock %}

{% block content %}
  <form class="w3-container" style="width:50%;" method="post">
    <label class="w3-text-blue-gray" for="startday"><b>Start Day</b></label>
    <select class="w3-input" name="startday">
      <option value="0">Sunday</option>
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="4">Thursday</option>
      <option value="5">Friday</option>
      <option value="6">Saturday</option>
    </select>
    <label class="w3-text-blue-gray" for="starttime"><b>Start Time</b></label>
    <input class="w3-input" type="time" name="starttime" id="starttime" required>
    <label class="w3-text-blue-gray" for="endday"><b>Ending Day</b></label>
    <select class="w3-input" name="endday">
      <option value="0">Sunday</option>
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="4">Thursday</option>
      <option value="5">Friday</option>
      <option value="6">Saturday</option>
    </select>
    <label class="w3-text-blue-gray" for="endtime"><b>Ending Time</b></label>
    <input class="w3-input" type="time" name="endtime" id="endtime" required>
    <label class="w3-text-blue-gray" for="state"><b>Display State</b></label>
    <select class="w3-input" name="state">
      <option value="on">ON</option>
      <option value="off" selected="">OFF</option>
    </select>
    <input class="w3-btn w3-blue-grey w3-section" type="submit" value="Create">
  </form>
{% endblock %}