{% extends 'base.html' %}

{% block header %}
  <h1><i class="fa fa-birthday-cake"></i> {% block title %}New Birthday{% endblock %}</h1>
  <a class="action" href="{{ url_for('birthdays.index') }}">Back</a>
{% endblock %}

{% block content %}
  <form class="w3-container" style="width:50%;" method="post">
    <label class="w3-text-blue-gray" for="user"><b>User</b></label>
    <select class="w3-input" name="user" required>
      <option value="">---SELECT A USER---</option>
      {% for user in users %}
      <option value="{{ user['id'] }}">{{ user['username'] }}</option>
      {% endfor %}
    </select>
    <label class="w3-text-blue-gray" for="date"><b>Date of Birth</b></label>
    <input class="w3-input" type="date" name="date" id="date" required>
    <input class="w3-btn w3-blue-grey w3-section" type="submit" value="Create">
  </form>
{% endblock %}